
.button{
	-fx-background-color: #b22222,
	 linear-gradient(#38424b 100%, #1f2429 100%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 50%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: red;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(red, #5a0000);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
}
.pane{
	-fx-background-color: #b22222,
	linear-gradient(#a30000 25%, #6d0000 40%, #a30000 75%);
	-fx-background-radius: 6,3,5,4;
    -fx-background-insets: 0,2,4,0;
    -fx-effect: dropshadow( three-pass-box , rgba(216,30,30, 0.8) , 10, 0.0 , 2 , 2 );
    -fx-padding: 10 15 10 5;
}
.line{
	-fx-stroke: #b22222;
}
.bonus{
	-fx-fill: #ff0000;
}
.board{
	-fx-background-color: #000000,
	 radial-gradient(center 50% 50%, radius 60% , rgba(63,63,63, 0.8), rgba(0,0,0, 0.8));
}